# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# IDE
.cproject
.deps/
.project

# autostuff
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan

dbg/
rel/
depcomp
helgrind.supp
install-sh
ltmain.sh
missing
tmp/
trace
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
