# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.cproject
.deps/
.project
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan
dbg/
depcomp
grep
helgrind.supp
include/
install-sh
ltmain.sh
mdb-slang.txt
missing
rel/
tmp/
trace
