# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.cproject
.deps/
.project
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan
dbg/
depcomp
grep
helgrind.supp
include/
install-sh
ltmain.sh
mdb-slang.txt
missing
rel/
tmp/
trace
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
src/Makefile.in
include/Makefile.in
lib/daemon/Makefile.in
lib/Makefile.in
lib/modules/Makefile.in
Makefile.in
src/Makefile.in
